spring:
  application:
    name: PostgreSql-demo
  
  datasource:
    url: jdbc:postgresql://localhost:5432/demo
    username: demo_user
    password: user123
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      # DDL 비활성화 - demo_user는 DML만 허용
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

